/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* estilos de Sobre Mi, Capacitacion*/
.fotos ul li, .videos ul li, .profe ul li, .slide ul li {
  display: inline-block;
  background-color: #94e67e;
  margin: 5px;
  padding: 5px;
  border: 6rem; }

/* estilos generales */
body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif; }

/* estilos del menu para BT */
.color-menu {
  background-color: #9eaa3a; }

.header {
  display: flex;
  position: sticky;
  top: 0px;
  justify-content: space-around;
  align-items: center;
  /* nav ul li:hover{
        transform: scale(0.9);
        text-decoration: underline;
    }
    nav ul li a{
        text-decoration: none;
        color:$colorMenu2;
    }*/ }
  .header img {
    padding: 0.1rem; }
  .header nav ul {
    display: flex; }

/* estilos del contenedor principal*/
.contenedor {
  height: 100vh;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
  grid-template-rows: 1fr 1.5fr 1.5fr 1.5fr;
  grid-template-areas: "uno uno" "dos-img dos-p" "tres-p tres-img" "cuatro-img cuatro-p" "footer footer"; }

/* estilos del home */
main {
  width: 100vw;
  justify-content: center;
  align-items: center;
  text-align: center; }
  main .uno {
    grid-area: uno; }
    main .uno h3 {
      font-style: italic; }
  main section .dos {
    font-size: 24px;
    overflow: scroll; }
    main section .dos img {
      grid-area: dos-img; }
    main section .dos p {
      grid-area: dos-p; }
  main section .tres {
    font-size: 16px;
    overflow: auto; }
    main section .tres img {
      grid-area: tres-img; }
    main section .tres p {
      grid-area: tres-p; }
  main section .cuatro {
    font-size: 26px;
    overflow: scroll; }
    main section .cuatro img {
      grid-area: cuatro-img; }
    main section .cuatro p {
      grid-area: cuatro-p; }

footer {
  grid-area: footer;
  text-align: center;
  padding: 1rem;
  margin: 1px; }
  footer .redes ul li {
    display: inline-block;
    width: fit-content; }
  footer .redes .item-fixed {
    position: fixed;
    bottom: 0;
    right: 0; }
    footer .redes .item-fixed img {
      animation-name: img-mov;
      animation-iteration-count: infinite;
      animation-duration: 3s; }

@keyframes img-mov {
  to {
    transform: scale(0.9); }
  from {
    transform: scale(1); } }

/* estilos de contactos */
.contacto {
  display: flex;
  justify-content: center;
  align-items: center; }
  .contacto ul li {
    display: inline-block; }

/* media query */
@media (max-width: 576px) {
  .section {
    background-color: aqua;
    align-items: center; }
  .redes {
    display: none; } }
