
/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos generales */
body{
	overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

/* estilos del contenedor principal */
.contenedor{
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 0.3fr 0.7fr 1.5fr 0.3fr;
    grid-template-areas:
    "header header header header"
    "uno uno uno uno"
    "section section section section"
    "footer footer footer footer" ;
}


.header{
    background-color:#9eaa3a;
    grid-area: header;
    display: flex;
    position: sticky;   
    top: 0px;
    justify-content: space-around;
    align-items: center;
}
.header img{
    padding: 0.1rem;
}

.header nav ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}

/* animacion menu */
.header nav ul li:hover{
    transform: scale(0.9);
    text-decoration: underline;
}

.header nav ul li a{
    text-decoration: none;
    color:beige;
    text-transform: uppercase;
}

/* estilos del home */
main{
    width: 100vw;
    justify-content:center;
    align-items: center;
}
.uno{
    grid-area: uno;
    text-align: center;
}
.uno h1{
    align-items: center;
}
.uno h3{
    font-style: italic;/*line-height: 20px;*/
}
.section{
    grid-area: section;
    /*display:inline-block;*/
    text-align: center;
}
.dos{
     font-size:24px ;
     overflow: scroll;   
}
.tres{
    font-size: 16px;
    overflow: auto;
}
.cuatro{
    font-size: 26px;
    overflow: scroll;
}
.item-fixed{
    position:fixed;
    bottom: 0;
    right: 0;    
}

/* animacion de img */
.item-fixed img{
    animation-name: img-mov;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
@keyframes img-mov {
    to{
        transform: scale(0.9);
    }
    from{
        transform: scale(1);
    }
}

/* estilos de Sobre Mi, Capacitacion  */
.fotos ul li, .videos ul li, .profe ul li{
    display: inline-block;
    background-color: rgb(148, 230, 126);
    margin: 5px;
    padding: 5px;
    border: 100px;
}
.slide ul li{
    display:inline-block;
    height: 5px;
}
/* estilos para contacto*/
.contacto{
    display:inline-block;
    text-align: center;
}
.form{
    width: fit-content;
}
/* estilos para todos */
footer{
    grid-area: footer;
    text-align: center;
    padding: 1rem;
    margin:1px
}
.redes ul li{
    display:inline-block;
    width:fit-content;
}

/* media query */
@media screen and (max-width:576px){

}
