/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "utilidades/variable";
@import "utilidades/extend";
@import "utilidades/mixin";

/* estilos generales */
body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

/* estilos del menu para BT */
.color-menu{
    background-color: $colorMenu;
}
// se cambia a BT
.header{
    //background-color: $colorMenu;
    display: flex;
    position: sticky;
    top: 0px;
    justify-content: space-around;
    align-items: center;
    img{
        padding: 0.1rem;
    }
    nav ul{
        display:flex;
    }
    // animacion menu
   /* nav ul li:hover{
        transform: scale(0.9);
        text-decoration: underline;
    }
    nav ul li a{
        text-decoration: none;
        color:$colorMenu2;
    }*/
}


/* estilos del contenedor principal*/
.contenedor{
    height: 100vh;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    grid-template-rows: 1fr 1.5fr 1.5fr 0.5fr;
    grid-template-areas: 
    "uno uno"
    "dos-img dos-p"
    "tres-p tres-img"
    "cuatro-img cuatro-p"
    "footer footer";
}

/* estilos del home */
main{
    width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    .uno{
        grid-area: uno;
        //text-align: center;
        h3{
            font-style: italic;
        }
    }
    section{
        //text-align: center;
        .dos{
            font-size: 24px;
            overflow: scroll;
            img{
                grid-area: dos-img;
            }
            p{
                grid-area: dos-p;
            }
        }
        .tres{
            font-size: 16px;
            overflow: auto;
            img{
                grid-area: tres-img;
            }
            p{
                grid-area: tres-p;
            }
        }
        .cuatro{
            font-size: 26px;
            overflow: scroll;
            img{
                grid-area: cuatro-img;
            }
            p{
                grid-area: cuatro-p;
            }
        }
    }
}

footer{
    grid-area: footer;
    text-align: center;
    padding: 1rem;
    margin: 1px;
    .redes{
        ul li{
            display: inline-block;
            width: fit-content;
        }

        .item-fixed{
            position: fixed;
            bottom: 0;
            right: 0;
            img{
                animation-name: img-mov;
                animation-iteration-count: infinite;
                animation-duration: 3s;                
            }
        }
    }
}
@keyframes img-mov{
    to{
        transform: scale(0.9);
    }
    from{
        transform: scale(1);
    }
}

//estilos de Sobre Mi, Capacitacion en extend
.fotos ul li{
    @extend %estilosListas;
}
.videos ul li{
    @extend %estilosListas;
}
.profe ul li{
    @extend %estilosListas;
}
.slide ul li{
    @extend %estilosListas;
}
/* estilos de contactos */
.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    ul li{
        display:inline-block;   
    }
}
/* media query */
@media  (max-width:576px){
    .section{
        background-color: $colorMQ;
        align-items: center;
    }
    .redes{
        display: none;
    }
}
